<?php
//@codingStandardsIgnoreFile

/** @var Meta $block */

$post = $block->getPost();

use Mirasvit\Blog\Block\Post\Meta; ?>
<p class="blog__post-meta">
    <time class="blog__post-meta-time" itemprop="datePublished">
        <i class="fa fa-fw fa-calendar"></i>
        <?= $block->toDateFormat($post->getCreatedAt()) ?>
    </time>


    <?php if ($block->getCommentProvider() == 'disqus'): ?>
        <span class="blog__post-meta-comments">
        <i class="fa fa-fw fa-comments"></i>
        <span class="disqus-comment-count"
              data-disqus-identifier="<?= $block->getPost()->getUrlKey() ?>"><?= __('0 Comments') ?></span>
    </span>
    <?php endif ?>

    <?php if ($block->getCommentProvider() == 'facebook'): ?>
        <span class="blog__post-meta-comments">
        <i class="fa fa-fw fa-comments"></i>
        <span class="fb-comments-count" data-href="<?= $block->getPost()->getUrl() ?>"></span> Comments
    </span>
    <?php endif ?>



    <?php if ($block->isAddThisEnabled() && !$block->getCategory()): ?>
        <span class="addthis_sharing_toolbox blog__post-meta-sharing"></span>
    <?php endif ?>
</p>
