<div id="emipro-ko-example" data-bind="scope:'emipro-ko-example'">

    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "emipro-ko-example": {
                        "component": "Baglai_Knockout/js/kotemplate",
                        "template" : "Baglai_Knockout/kotemplate"
                        }
                    }
                }
            }
    }
    </script>
</div>