<?php if ($block->getSpecDateTo()) { ?>
    <?php
    $productData = $this->getProductData();
    $productData->getSpecialToDate(); // Конец даты Special Price
    ?>
    <script>
        require(['jquery', 'Baglai_FinalCountdown'], function ($, SPC) {

            $('#clock').countdown('<?= /** @noescape */ $productData->getSpecialToDate() ?>', function (event) {
                var $this = $(this).html(event.strftime(''
                    + '<span>%w</span> weeks '
                    + '<span>%d</span> days '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
            });
        });
    </script>
    <h2>
        Until the end of the promotion there are:
        <div id="clock"></div>
    </h2>


<?php } ?>