<?php if ($block->getProductSale()) : ?>
    <h2>Until the end of the promotion there are:</h2>
    <script>
        require(['jquery', 'Baglai_FinalCountdown'], function ($, SPC) {

            $('#clock').countdown('<?= /** @noescape */ $block->getProductSale() ?>', function (event) {
                var $this = $(this).html(event.strftime(''
                    + '<span>%w</span> weeks '
                    + '<span>%d</span> days '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
            });
        });
    </script>

    <h2>
        <div id="clock"></div>
    </h2>

<?php else: ?>

<?php endif; ?>
