<?php

if ($block->checkEnableBodyPosition()):

?>

<h1>
    Body Position

</h1>


<h2>
    <?= $block->getBodyPosition(); ?>
</h2>
<!--<h3>-->
<!---->
<!--    --><?//= $block->checkEnableBodyPosition(); ?>
<!---->
<!--</h3>-->

<?php


else:

?>

<!--    <h1>Disable</h1>-->

<?php

endif;

?>